<!-- 
<form>
	<button class="btn btn-primary" (click)="newPatient()" *ngIf="!patient">New Patient</button>
	<div *ngIf="patient">
		<input matInput type="text" class="form-control border-0" name="name" placeHolder="Name" [(ngModel)]="patient.name">
		
		<input matInput [matDatepicker]="picker" name="dob" placeHolder="Pick a date" [(ngModel)]="patient.dob">
		<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-datepicker #picker></mat-datepicker>

		<mat-select name="gender" placeHolder="Pick a gender" [(ngModel)]="patient.gender">
			<option name="genderM" value="M">Male
			<option name="genderF" value="F">Female
			<option name="genderO" value="O">It's complicated
		</mat-select>
		<input matInput type="text" name="ethnicity" placeHolder="Ethnicity" [(ngModel)]="patient.ethnicity">
		<input matInput type="text" name="civilStatus" placeHolder="Civil Status" [(ngModel)]="patient.civilStatus">
		<input matInput type="text" name="phone" placeHolder="Phone" [(ngModel)]="patient.phone">
		<input matInput type="text" name="address" placeHolder="Address" [(ngModel)]="patient.address">
		<input matInput type="text" name="profession" placeHolder="Profession" [(ngModel)]="patient.profession">
		<input matInput type="text" name="naturalFrom" placeHolder="Place of Birth" [(ngModel)]="patient.naturalFrom">
		<input matInput type="text" name="origin" placeHolder="Origin" [(ngModel)]="patient.origin">
		<input matInput type="text" name="referredBy" placeHolder="Referral" [(ngModel)]="patient.referredBy">
		<textarea matInput name="obs" placeHolder="Observations" [(ngModel)]="patient.obs">Something{{patient.obs}}</textarea>
	</div>
</form>
-->