<!-- <nav class="navbar navbar-expand-sm bg-secondary fixed-top">  
	<a class="navbar-brand" href="#">Vascularte</a> -->
	<div *ngIf="!doctor" class="bg-secondary">
		<form class="form-inline mr-sm-2">
			<div class="input-group input-group-sm mx-auto">
				<div class="input-group-prepend">
					<i class="input-group-text fas fa-user-circle"></i>
					<!-- <span class="input-group-text">L</span>  -->
				</div>
				<input [(ngModel)]="login" id="login" type="text" class="form-control" name="login" placeholder="Login">
				<div class="input-group-prepend input-group-append">
					<i class="input-group-text fas fa-key"></i>
					<!-- <span class="input-group-text">P</span>  -->
				</div>
				<input [(ngModel)]="password" id="password" type="password" class="form-control" name="password" placeholder="Password">
				<div class="input-group-append">
					<button class="btn btn-primary" (click)="confirm()">Log in</button>
				</div>
			</div>
		</form>
	</div> 
	<div *ngIf="doctor" class="bg-secondary">
		<form class="form-inline mr-sm-2">
			<div class="input-group input-group-sm mx-auto w-75 ">
				<div class="input-group-prepend">
					<i class="input-group-text fas fa-address-card"></i>
					<!-- <span class="input-group-text">P</span>  -->
				</div>
				<input	id="patientName" name="patientName" type="text" class="form-control" placeholder="PatientName"
						[(ngModel)]="patientName" [typeahead]="allPatientNames" [typeaheadLatinize]="true"
						(typeaheadOnSelect)="loadPatientData()">
			</div>
		</form>
		<div class="text-right fixed-bottom bg-secondary">
			<strong> Logged as {{ doctor.name }} </strong>
			<button class="btn btn-warning align-self-right" (click)="logout()">Logout</button>
		</div>
	</div>
<!-- </nav>  -->

<div class='container'>
  <router-outlet></router-outlet>
</div>