<mat-form-field>
  <input matInput [matDatepicker]="picker" name="dob" placeHolder="Pick a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<!-- Replace this with an autocomplete -->
<mat-form-field>
  <input matInput type="text" name="insuranceProvider" placeHolder="Insurance Provider">
</mat-form-field>
<mat-form-field>
  <input matInput type="text" name="amountCharged" placeHolder="Amount Charged">
</mat-form-field>
<mat-form-field>
  <input matInput type="text" name="receipt" placeHolder="Receipt">
</mat-form-field>
<button mat-raised-button="" color="primary" *ngIf="!patient"><mat-icon>attach_money</mat-icon>Save</button>
